<h1>Pokemon Details</h1>


<h2>{{thePokemon.name}}</h2>
<h3>Type: {{thePokemon.type}}</h3>
<p>Evolves? {{thePokemon.evolves}}</p>

<img src="{{thePokemon.img}}" style="width: 300px">

<h4>Moves</h4>
{{#each thePokemon.moves}}
    <p>
        {{this}}
    </p>    
{{/each}}

<a href="/pokemon/{{thePokemon._id}}/edit">Edit This Pokemon</a>

<br><br><br>
<form action="/pokemon/delete/{{thePokemon._id}}" method="POST">
    <button>Delete This Pokemon</button>
</form>